@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Poppins', sans-serif;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slide-up {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 1.2s ease-in-out forwards;
}

.animate-slide-up {
  animation: slide-up 1.2s ease-in-out forwards;
}
.animate-fadeInUp {
  animation: fadeInUp 1s ease-out;
}
.fade-up {
  animation: fadeUp 1s ease forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}